{% extends 'indexUSR.html.twig' %}

{% block b %}
<nav class="main-nav">
				<ul class="main-nav__list">
					<li class=""><a href="/usuario-index">Inicio</a></li>
				
					<li class=""><a href="/usr-salas">Salas</a>
					</li>
					<li class=""><a href="/usr-about">Acerca de</a></li>
					<li><a href="/usr-contacto">Contáctanos</a></li>
					<li class=""><a href="/usr-precios">Precio de las Salas <span class="badge badge-danger">Novedad</span></a></li>
				</ul>
		
			</nav>

{% endblock %}


{% block body %}

<!-- Page Heading
		================================================== -->
		<div class="page-heading jarallax" data-jarallax data-speed="0.2">
			<div class="page-heading__inner">
				<div class="container">
					<h1 class="page-heading__title">Perfil</h1>
					<ol class="breadcrumb page-heading__breadcrumb">
						<li class="breadcrumb-item"><a href="/usuario-index">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Perfil</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- Page Heading / End -->
		
		<!-- Content
		================================================== -->
		<main class="site-content">
		
		<div class="section-content">
			<div class="container">
		
				<div class="row">
					<div class="col-lg-8 ml-lg-auto mr-lg-auto">
		
						<!-- Booked Profile -->
						<div id="booked-profile-page" class="me">
		
							<div class="booked-profile-header bookedClearFix">
								<div class="booked-info">
									<div class="booked-user">
										<div class="booked-user-avatar"><img alt="" src="assets/img/samples/comment-avatar.png" srcset="assets/img/samples/comment-avatar@2x.png 2x" class="avatar"></div>
										<h3>¡Bienvenido de vuelta, <strong>Jesús</strong>!</h3>
									</div>
									<a class="booked-logout-button btn btn-default btn-sm btn-outline-secondary" href="#" title="Sign Out">Cerrar Sesión</a>
								</div>
							</div>
							<ul class="nav booked-tabs bookedClearFix" id="booked-tabs" role="tablist">
								<li>
									<a href="#profile-appointments" data-toggle="tab" id="profile-appointments-tab" class="active"><i class="booked-icon ion-calendar"></i>Proximas Reservas</a>
								</li>
								<li>
									<a href="#profile-history" data-toggle="tab" id="profile-history-tab"><i class="booked-icon ion-document"></i>Historial de Reservas</a>
								</li>
								<li class="edit-button">
									<a href="#profile-edit" data-toggle="tab" id="profile-edit-tab"><i class="booked-icon ion-edit"></i>Editar Perfil</a>
								</li>
							</ul>
		
							<div class="tab-content">
		
								<!-- Appointments -->
								<div id="profile-appointments" class="active tab-pane fade show booked-tab-content bookedClearFix" role="tabpanel" aria-labelledby="profile-appointments-tab">
									
									<div class="booked-profile-appt-list">
										<h4><span class="count">4</span>Proximas Reservas</h4>
								
										<!-- Single Appointment -->
										<span class="appt-block bookedClearFix pending">
											<span class="status-block"><i class="booked-icon booked-icon-radio-unchecked"></i> Pendiente</span>
											<i class="booked-icon booked-icon-clock"></i><strong>Magic Emporium:</strong> Martes, 7 de Marzo, 2022  from 1:00 am – 2:00 am
											<span class="booked-cal-buttons">
												<span class="addtocalendar atc-style-booked dropdown">
													<button class="atcb-link btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														Añadir al calendario
													</button>
													<span class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
														<a class="dropdown-item" href="#">iCalendar</a>
														<a class="dropdown-item" href="#">Google Calendar</a>
														<a class="dropdown-item" href="#">Outlook</a>
														<a class="dropdown-item" href="#">Outlook Online</a>
			
													</span>
												</span>
												<a href="#" class="btn btn-default btn-sm btn-outline-secondary cancel">Cancelar Reserva</a>
											</span>
										</span>
										<!-- Single Appointment / End -->
								
										<!-- Single Appointment -->
										<span class="appt-block bookedClearFix approved">
											<span class="status-block"><i class="booked-icon booked-icon-radio-checked"></i> Aprobada</span>
											<i class="booked-icon booked-icon-clock"></i><strong>Burlesque:</strong> Miercoles, 8 de Marzo, 2022  de 2:00 am – 3:00 am
											<span class="booked-cal-buttons">
												<span class="addtocalendar atc-style-booked dropdown">
													<button class="atcb-link btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														Add to Calendar
													</button>
													<span class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
														<a class="dropdown-item" href="#">iCalendar</a>
														<a class="dropdown-item" href="#">Google Calendar</a>
														<a class="dropdown-item" href="#">Outlook</a>
														<a class="dropdown-item" href="#">Outlook Online</a>
												
													</span>
												</span>
												<a href="#" class="btn btn-default btn-sm btn-outline-secondary cancel">Cancelar Reserva</a>
											</span>
										</span>
										<!-- Single Appointment / End -->
								
										<!-- Single Appointment -->
										<span class="appt-block bookedClearFix pending">
											<span class="status-block"><i class="booked-icon booked-icon-radio-unchecked"></i> Pending</span>
											<i class="booked-icon booked-icon-clock"></i><strong>The Cure:</strong> Jueves, 9 de Marzo, 2022  de 3:00 am – 4:00 am
											<span class="booked-cal-buttons">
												<span class="addtocalendar atc-style-booked dropdown">
													<button class="atcb-link btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														Añadir al calendario
													</button>
													<span class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
														<a class="dropdown-item" href="#">iCalendar</a>
														<a class="dropdown-item" href="#">Google Calendar</a>
														<a class="dropdown-item" href="#">Outlook</a>
														<a class="dropdown-item" href="#">Outlook Online</a>
												
													</span>
												</span>
												<a href="#" class="btn btn-default btn-sm btn-outline-secondary cancel">Cancelar Reserva</a>
											</span>
										</span>
										<!-- Single Appointment / End -->
								
										<!-- Single Appointment -->
										<span class="appt-block bookedClearFix pending">
											<span class="status-block"><i class="booked-icon booked-icon-radio-unchecked"></i> Pendiente</span>
											<i class="booked-icon booked-icon-clock"></i><strong>Magic Emporium:</strong> Viernes, 10 de Marzo, 2022  de 1:00 am – 2:00 am
											<span class="booked-cal-buttons">
												<span class="addtocalendar atc-style-booked dropdown">
													<button class="atcb-link btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														Añadir al calendario
													</button>
													<span class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
														<a class="dropdown-item" href="#">iCalendar</a>
														<a class="dropdown-item" href="#">Google Calendar</a>
														<a class="dropdown-item" href="#">Outlook</a>
														<a class="dropdown-item" href="#">Outlook Online</a>
										
													</span>
												</span>
												<a href="#" class="btn btn-default btn-sm btn-outline-secondary cancel">Cancelar Reserva</a>
											</span>
										</span>
										<!-- Single Appointment / End -->
								
									</div>
								</div>
								<!-- Appointments / End -->
								<!-- History -->
								<div id="profile-history" class="tab-pane booked-tab-content fade bookedClearFix" role="tabpanel" aria-labelledby="profile-history-tab">
									<div class="booked-profile-appt-list">
										<h4><span class="count">5</span> Reservas Anteriores</h4>
										<span class="appt-block bookedClearFix approved"><i class="booked-icon booked-icon-clock"></i><strong>Escape Room:</strong> Martes, 17 de Octubre, 2021 de 1:00 am – 2:00 am</span>
										<span class="appt-block bookedClearFix approved"><i class="booked-icon booked-icon-clock"></i><strong>Magic Emporium:</strong> Lunes, 16 de Octubre, 2021 de 4:00 pm – 6:00 pm</span>
										<span class="appt-block bookedClearFix approved"><i class="booked-icon booked-icon-clock"></i><strong>The Cure:</strong> Jueves, 9 de Febrero, 2022  de 3:00 am – 4:00 am</span>
										<span class="appt-block bookedClearFix approved"><i class="booked-icon booked-icon-clock"></i><strong>Escape Room:</strong> Martes, 1 de Marzo, 2021 de 1:00 am – 2:00 am</span>
										<span class="appt-block bookedClearFix approved"><i class="booked-icon booked-icon-clock"></i><strong>Burlesque:</strong> Viernes, 10 de Abril, 2021  de 1:00 am – 2:00 am</span>
									</div>
								</div>
								<!-- History / End -->
								<!-- Edit -->
								<div id="profile-edit" class="tab-pane booked-tab-content fade bookedClearFix" role="tabpanel" aria-labelledby="profile-edit-tab">
									<h4><i class="booked-icon ion-edit"></i> &nbsp; Editar Perfil</h4>
								
									<form method="get" enctype="multipart/form-data" id="booked-page-form" action="#">
										<div class="form-group form-group--lg form-avatar">
											<label for="avatar">Cambiar Avatar</label>
											<span class="booked-upload-wrap btn btn-default btn-lg btn-block btn-outline-secondary">
												<span>Elegir imagen...</span><input class="field" name="avatar" type="file" id="avatar">
											</span>
											<span class="hint-p">Tamaño recomendado: 100px x 100px</span>
										</div><!-- .form-nickname -->
								
										<div class="form-group form-group--lg form-nickname">
											<label for="nickname">Nombre</label>
											<input class="text-input form-control" name="nickname" type="text" id="nickname" value="admin">
										</div><!-- .form-nickname -->
								
										<div class="form-group form-group--lg form-email">
											<label for="email">Correo electronico *</label>
											<input class="text-input form-control" name="email" type="text" id="email" value="tu_email@domain.com">
										</div><!-- .form-email -->
								
										<div class="row">
											<div class="col-md-6">
												<div class="form-group form-group--lg form-password">
													<input class="text-input form-control" name="pass1" type="password" id="pass1" placeholder="Cambiar contraseña">
												</div><!-- .form-password -->
											</div>
											<div class="col-md-6">
												<div class="form-group form-group--lg form-password last">
													<input class="text-input form-control" name="pass2" type="password" id="pass2" placeholder="Repetir contraseña">
												</div><!-- .form-password -->
											</div>
										</div>
								
										<div class="form-submit">
											<input name="updateuser" type="submit" id="updateuser" class="btn btn-lg btn-block btn-primary" value="Actualizar">
										</div><!-- .form-submit -->
										
									</form><!-- #adduser -->
								
								</div>
								<!-- Edit -->
							</div>
		
						</div>
						<!-- Booked Profile / End -->
		
					</div>
				</div>
		
			</div>
		</div>
		
		</main>

{% endblock %}
