{% extends 'base.html.twig' %}

{% block a %}
 		<nav class="main-nav">
			<ul class="main-nav__list">
				<li class=""><a href="/index">Inicio</a></li>
				
				<li class=""><a href="/lista-salas">Salas</a>
				</li>
					<li class="active"><a href="/about">Acerca de</a></li>
				<li class=""><a href="/contacto">Contáctanos</a></li>
			</ul>
		
		</nav>
{% endblock %}	

{% block body %}


<!-- Page Heading
		================================================== -->
		<div class="page-heading jarallax" data-jarallax data-speed="0.2">
			<div class="page-heading__inner">
				<div class="container">
					<h1 class="page-heading__title">Acerca de</h1>
					<ol class="breadcrumb page-heading__breadcrumb">
						<li class="breadcrumb-item"><a href="/index">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Acerca de</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- Page Heading / End -->
		
		<!-- Content
		================================================== -->
		<!-- Content
		================================================== -->
		<main class="site-content">
		
		<!-- Section - How to play -->
		<div class="section-content">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title">Cómo jugar</h2>
				</div>
				<div class="row">
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="icon-user-following"></i>
								</div>
							</div>
							<h3 class="icobox__title">¿Quién puede jugar?</h3>
							<div class="icobox__desc">
								The Escape Room es perfecto para todos. No se necesitan habilidades especiales para pasar un buen rato. Trae a tus amigos, familiares, compañeros de trabajo, o solo un grupo de personas al azar y diviértete.
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="icon-chemistry"></i>
								</div>
							</div>
							<h3 class="icobox__title">Para la creacion de equipos</h3>
							<div class="icobox__desc">
								Nuestras salas están diseñadas para una participación intensa de un grupo que intenta escapar. Es perfecto para la experiencia de formación de equipos en tu ciudad.
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="icon-badge"></i>
								</div>
							</div>
							<h3 class="icobox__title">Para Eventos Especiales</h3>
							<div class="icobox__desc">
								Sea cual sea la celebración The Escape room está aquí para llevarlo a otro nivel. Reserve su habitación y contáctenos para ver cómo podemos ayudarlo a mejorar aún más cualquier ocasión especial.
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
				</div>
			</div>
		</div>
		<!-- Section - How to play / End -->
		
		<!-- Section - Video -->
		<div class="section-media section--has-overlay section-media--bg1 jarallax" data-jarallax data-speed="0.4">
			<div class="section-media__inner">
				<a href="https://www.youtube.com/watch?v=b0YfCKU5_vE" class="section-media__link mp_iframe">
					<span class="icon-media icon-media--video">
						<i class="ion-play"></i>
					</span>
				</a>
			</div>
		</div>
		<!-- Section - Video / End -->
		
		<!-- Section - Certificates -->
		<div class="section-content">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title">Certificados</h2>
				</div>
		
				<ul class="certificates row list-unstyled">
					<li class="certificate col-sm-6 col-md">
						<img src="assets/img/samples/OIP (1).jfif" alt="">
					</li>
					<li class="certificate col-sm-6 col-md">
						<img src="assets/img/samples/OIP (2).jfif" alt="">
					</li>
					<li class="certificate col-sm-6 col-md">
						<img src="assets/img/samples/OIP.jfif" alt="">
					</li>
				</ul>
			</div>
		</div>
		<!-- Section - Certificates / End -->
		
		<!-- Section - Our Team -->
		<div class="section-content section-content--secondary">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title">Nuestro equipo</h2>
				</div>
		
				<ul class="team team--grid list-unstyled row">
					<li class="team-member col-sm">
						<figure class="team-member__photo">
							<a href="#"><img src="assets/img/samples/gente1.png" alt=""></a>
						</figure>
						<div class="team-member__info">
							<h3 class="team-member__title">Emily Hudson</h3>
							<p class="team-member__meta">Co-Creadora</p>
						</div>
					</li>
					<li class="team-member col-sm">
						<figure class="team-member__photo">
							<a href="#"><img src="assets/img/samples/gente2.jfif" alt=""></a>
						</figure>
						<div class="team-member__info">
							<h3 class="team-member__title">Trudy Campbell</h3>
							<p class="team-member__meta">Co-Creadora</p>
						</div>
					</li>
				</ul>
		
			</div>
		</div>
		<!-- Section - Our Team / End -->		
		<!-- Section - FAQs -->
		<div class="section-content section-content--tertiary">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title">Preguntas frecuentes</h2>
					<div class="section-heading__subtitle">
						Si su pregunta no se responde aquí, no dude en contactarnos.
					</div>
				</div>
		
				<div class="row">
					<div class="col-md-8 ml-md-auto mr-md-auto">
		
						<!-- FAQs (accordion) -->
						<div id="faq-accordion" role="tablist" class="accordion">
		
							<!-- FAQ - 1 -->
							<div class="accordion__item">
								<div class="accordion__item-header" role="tab" id="headingOne">
									<h3>
										<a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											¿Qué es un Escape Room?
										</a>
									</h3>
								</div>
								<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#faq-accordion">
									<div class="accordion__item-body">
										Un escape room es una experiencia de la vida real en la que los participantes están encerrados en una habitación y deben usar elementos de la misma, el conocimiento colectivo del grupo y el ingenio para descubrir pistas, resolver acertijos y escapar y / o encontrar el elemento que falta dentro de un período de tiempo determinado.
									</div>
								</div>
							</div>
							<!-- FAQ - 1 / End -->
		
							<!-- FAQ - 2 -->
							<div class="accordion__item">
								<div class="accordion__item-header" role="tab" id="headingTwo">
									<h3>
										<a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											¿Estaré encerrado en una habitación?
										</a>
									</h3>
								</div>
								<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#faq-accordion">
									<div class="accordion__item-body">
										Un escape room es una experiencia de la vida real en la que los participantes están encerrados en una habitación y deben usar elementos de la misma, el conocimiento colectivo del grupo y el ingenio para descubrir pistas, resolver acertijos y escapar y / o encontrar el elemento que falta dentro de un período de tiempo determinado.
									</div>
								</div>
							</div>
							<!-- FAQ - 2 / End -->
		
							<!-- FAQ - 3 -->
							<div class="accordion__item">
								<div class="accordion__item-header" role="tab" id="headingThree">
									<h3>
										<a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											¿Cuánto tiempo dura toda la experiencia?
										</a>
									</h3>
								</div>
								<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#faq-accordion">
									<div class="accordion__item-body">
										Un escape room es una experiencia de la vida real en la que los participantes están encerrados en una habitación y deben usar elementos de la misma, el conocimiento colectivo del grupo y el ingenio para descubrir pistas, resolver acertijos y escapar y / o encontrar el elemento que falta dentro de un período de tiempo determinado.
									</div>
								</div>
							</div>
							<!-- FAQ - 3 / End -->
		
							<!-- FAQ - 4 -->
							<div class="accordion__item">
								<div class="accordion__item-header" role="tab" id="headingFour">
									<h3>
										<a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											¿Puedo jugar a más de un juego?
										</a>
									</h3>
								</div>
								<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#faq-accordion">
									<div class="accordion__item-body">
										Un escape room es una experiencia de la vida real en la que los participantes están encerrados en una habitación y deben usar elementos de la misma, el conocimiento colectivo del grupo y el ingenio para descubrir pistas, resolver acertijos y escapar y / o encontrar el elemento que falta dentro de un período de tiempo determinado.
									</div>
								</div>
							</div>
							<!-- FAQ - 4 / End -->
		
							<!-- FAQ - 5 -->
							<div class="accordion__item">
								<div class="accordion__item-header" role="tab" id="headingFive">
									<h3>
										<a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
											¿Estarán otras personas en la habitación con nosotros?
										</a>
									</h3>
								</div>
								<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#faq-accordion">
									<div class="accordion__item-body">
										Un escape room es una experiencia de la vida real en la que los participantes están encerrados en una habitación y deben usar elementos de la misma, el conocimiento colectivo del grupo y el ingenio para descubrir pistas, resolver acertijos y escapar y / o encontrar el elemento que falta dentro de un período de tiempo determinado.
									</div>
								</div>
							</div>
							<!-- FAQ - 5 / End -->
		
							<!-- FAQ - 6 -->
							<div class="accordion__item">
								<div class="accordion__item-header" role="tab" id="headingSix">
									<h3>
										<a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
											¿Necesito traer algo?
										</a>
									</h3>
								</div>
								<div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#faq-accordion">
									<div class="accordion__item-body">
										Un escape room es una experiencia de la vida real en la que los participantes están encerrados en una habitación y deben usar elementos de la misma, el conocimiento colectivo del grupo y el ingenio para descubrir pistas, resolver acertijos y escapar y / o encontrar el elemento que falta dentro de un período de tiempo determinado.
									</div>
								</div>
							</div>
							<!-- FAQ - 6 / End -->
		
							<!-- FAQ - 7 -->
							<div class="accordion__item">
								<div class="accordion__item-header" role="tab" id="headingSeven">
									<h3>
										<a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
											¿Hay un límite de edad?
										</a>
									</h3>
								</div>
								<div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#faq-accordion">
									<div class="accordion__item-body">
										Un escape room es una experiencia de la vida real en la que los participantes están encerrados en una habitación y deben usar elementos de la misma, el conocimiento colectivo del grupo y el ingenio para descubrir pistas, resolver acertijos y escapar y / o encontrar el elemento que falta dentro de un período de tiempo determinado.
									</div>
								</div>
							</div>
							<!-- FAQ - 7 / End -->
		
						</div>
						<!-- FAQs (accordion) / End -->
		
					</div>
				</div>
		
			</div>
		</div>
		<!-- Section - FAQs / End -->
		
		</main>

{% endblock %}
