{% extends 'indexUSR.html.twig' %}

{% block b %}
<nav class="main-nav">
				<ul class="main-nav__list">
					<li class="active"><a href="/usuario-index">Inicio</a></li>
				
					<li class=""><a href="/usr-salas">Salas</a>
					</li>
					<li class=""><a href="/usr-about">Acerca de</a></li>
					<li><a href="/usr-contacto">Contáctanos</a></li>
					<li class=""><a href="/usr-precios">Precios Salas <span class="badge badge-danger">Novedad</span></a></li>
				</ul>
		
			</nav>

{% endblock %}

{% block body %}
<audio src={{asset("/assets/music/musica_escape_room.mp3")}} autoplay loop></audio>
<!-- Main Slider -->
		<div class="main-slider-wrapper">
			<div class="main-slider js-main-slider">
				<!-- Slide #1 -->
				<div class="main-slider__item main-slider__item--img-1">
					<div class="main-slider__layer main-slider__item-content">
						<h1 class="main-slider__item-title">
							<span data-animation="fadeInUp" data-delay="0.2s">¡Estás</span>
							<span data-animation="fadeInUp" data-delay="0.5s">Encerrado!</span>
						</h1>
						<a href="room-grid-3cols.html" class="main-slider__item-btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">Ver nuestras habitaciones</a>
					</div>
				</div>
				<!-- Slide #1 / End -->
		
				<!-- Slide #2 -->
				<div class="main-slider__item main-slider__item--img-2">
					<div class="main-slider__layer main-slider__item-content">
						<h1 class="main-slider__item-title">
							<span data-animation="fadeInUp" data-delay="0.2s">El reloj</span>
							<span data-animation="fadeInUp" data-delay="0.5s">sigue corriendo...</span>
						</h1>
						<a href="room-grid-3cols.html" class="main-slider__item-btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">Ver nuestras habitaciones</a>
					</div>
				</div>
				<!-- Slide #2 / End -->
		
				<!-- Slide #3 -->
				<div class="main-slider__item main-slider__item--img-4">
					<div class="main-slider__layer main-slider__item-content">
						<h1 class="main-slider__item-title">
							<span data-animation="fadeInUp" data-delay="0.2s">¿Podras escapar</span>
							<span data-animation="fadeInUp" data-delay="0.5s">en 60 minutos?</span>
						</h1>
						<a href="room-grid-3cols.html" class="main-slider__item-btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">Ver nuestras habitaciones</a>
					</div>
				</div>
				<!-- Slide #3 / End -->
		
				<!-- Slide #4 -->
				<div class="main-slider__item main-slider__item--img-3">
					<div class="main-slider__layer main-slider__item-content">
						<h1 class="main-slider__item-title">
							<span data-animation="fadeInUp" data-delay="0.2s">¿Que es</span>
							<span data-animation="fadeInUp" data-delay="0.5s">The Escape room?</span>
						</h1>
						<a href="room-grid-3cols.html" class="main-slider__item-btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">Ver nuestras habitaciones</a>
					</div>
				</div>
				<!-- Slide #4 / End -->
		
			</div>
		</div>
		<!-- Main Slider / End -->
		<!-- Content
		================================================== -->
		<main class="site-content">
		
		<!-- Section: Featured Rooms -->
		<div class="section-content">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Habitaciones destacadas</h2>
				</div>
		
				<div class="row">
					<div class="col-md-10 ml-md-auto mr-md-auto">
		
						<!-- Rooms - List -->
						<div class="rooms rooms--list">
		
							<!-- Room #1 -->
							<div class="room" data-aos="fade-up" data-aos-duration="800">
								<div class="room__body box">
									<!-- Header -->
									<header class="room__header">
										<!-- Rating -->
										<div class="room__complexity rating rating--3">
											<span class="rating__inner"></span>
										</div>
										<!-- Rating / End -->
										<!-- Title -->
										<h2 class="room__title"><a href="room-single.html">Magic Imporium</a></h2>
										<!-- Title / End -->
										<!-- Meta -->
										<div class="room__meta">
											<div class="room__meta-item">
												<i class="ion-person-stalker"></i> 2-3
											</div>
											<div class="room__meta-item">
												<i class="icon-clock"></i> 60
											</div>
											<div class="room__meta-item">
												<i class="ion-location"></i> New York 3031
											</div>
										</div>
										<!-- Meta / End -->
									</header>
									<!-- Header / End -->
									<!-- Excerpt -->
									<div class="room__excerpt">
										<p>Aenean turpis dolor, ornare sed imperd id, pulvinar eu massa. Nulla accumsan lorem convallis tellus faucibus, eu laoreet. Sed vitae purus. </p>
									</div>
									<!-- Excerpt / End -->
									<!-- Read More -->
									<footer class="room__footer">
										<a href="room-single.html" class="btn btn-primary">Leer más</a>
									</footer>
									<!-- Read More / End -->
								</div>
								<!-- Image -->
								<figure class="room__img">
									<a href="room-single.html"><img src="assets/img/samples/room-list-1.jpg" alt=""></a>
								</figure>
								<!-- Image / End -->
							</div>
							<!-- Room #1 / End -->
		
							<!-- Room #2 -->
							<div class="room" data-aos="fade-up" data-aos-duration="800">
								<div class="room__body box">
									<!-- Header -->
									<header class="room__header">
										<!-- Rating -->
										<div class="room__complexity rating rating--4">
											<span class="rating__inner"></span>
										</div>
										<!-- Rating / End -->
										<!-- Title -->
										<h2 class="room__title"><a href="room-single.html">The Cure</a></h2>
										<!-- Title / End -->
										<!-- Meta -->
										<div class="room__meta">
											<div class="room__meta-item">
												<i class="ion-person-stalker"></i> 2-3
											</div>
											<div class="room__meta-item">
												<i class="icon-clock"></i> 60
											</div>
											<div class="room__meta-item">
												<i class="ion-location"></i> New York 3031
											</div>
										</div>
										<!-- Meta / End -->
									</header>
									<!-- Header / End -->
									<!-- Excerpt -->
									<div class="room__excerpt">
										<p>Aenean turpis dolor, ornare sed imperd id, pulvinar eu massa. Nulla accumsan lorem convallis tellus faucibus, eu laoreet. Sed vitae purus. </p>
									</div>
									<!-- Excerpt / End -->
									<!-- Read More -->
									<footer class="room__footer">
										<a href="room-single.html" class="btn btn-primary">Leer más</a>
									</footer>
									<!-- Read More / End -->
								</div>
								<!-- Image -->
								<figure class="room__img">
									<a href="room-single.html"><img src="assets/img/samples/room-grid-3-img2.jpg" alt=""></a>
								</figure>
								<!-- Image / End -->
							</div>
							<!-- Room #2 / End -->
		
							<!-- Room #3 -->
							<div class="room" data-aos="fade-up" data-aos-duration="800">
								<div class="room__body box">
									<!-- Header -->
									<header class="room__header">
										<!-- Rating -->
										<div class="room__complexity rating rating--2">
											<span class="rating__inner"></span>
										</div>
										<!-- Rating / End -->
										<!-- Title -->
										<h2 class="room__title"><a href="room-single.html">Burlesque</a></h2>
										<!-- Title / End -->
										<!-- Meta -->
										<div class="room__meta">
											<div class="room__meta-item">
												<i class="ion-person-stalker"></i> 3-5
											</div>
											<div class="room__meta-item">
												<i class="icon-clock"></i> 60
											</div>
											<div class="room__meta-item">
												<i class="ion-location"></i> New York 3031
											</div>
										</div>
										<!-- Meta / End -->
									</header>
									<!-- Header / End -->
									<!-- Excerpt -->
									<div class="room__excerpt">
										<p>Aenean turpis dolor, ornare sed imperd id, pulvinar eu massa. Nulla accumsan lorem convallis tellus faucibus, eu laoreet. Sed vitae purus. </p>
									</div>
									<!-- Excerpt / End -->
									<!-- Read More -->
									<footer class="room__footer">
										<a href="room-single.html" class="btn btn-primary">Leer más</a>
									</footer>
									<!-- Read More / End -->
								</div>
								<!-- Image -->
								<figure class="room__img">
									<a href="room-single.html"><img src="assets/img/samples/room-list-3.jpg" alt=""></a>
								</figure>
								<!-- Image / End -->
							</div>
							<!-- Room #3 / End -->
		
						</div>
						<!-- Rooms - List / End  -->
		
						<div class="text-center" data-aos="fade" data-aos-duration="600">
							<a href="/usr-salas" class="btn btn-outline-secondary btn-lg">Ver todas las Salas</a>
						</div>
		
					</div>
				</div>
			</div>
		</div>
		<!-- Section: Featured Rooms / End -->
		
		
		<!-- Section: How it works -->
		<div class="section-content section-content--secondary">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">¿Como funciona?</h2>
				</div>
		
				<div class="row">
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="icon-lock"></i>
								</div>
							</div>
							<h3 class="icobox__title">Estas encerrad@</h3>
							<div class="icobox__desc">
								No tienes que traer nada, la sala estara llena de objetos que te serán útiles y, a veces, irrelevantes 
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="icon-clock"></i>
								</div>
							</div>
							<h3 class="icobox__title">El reloj corre...</h3>
							<div class="icobox__desc">
								¿Puedes descrifrar el camino y llegar a la intrigante conclusion y escapar de la sala en el tiempo estimado?
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="ion-ios-pulse-strong"></i>
								</div>
							</div>
							<h3 class="icobox__title">Siente el ambiente</h3>
							<div class="icobox__desc">
								Las habitaciones están construidas para crear una experiencia auténtica con un ambiente divertido, con una estricta atención al detalle.
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
				</div>
		
			</div>
		</div>
				<!-- Section - How to play / End -->
		
		<!-- Section - Video -->
		<div class="section-media section--has-overlay section-media--bg10 jarallax" data-jarallax data-speed="0.4">
			<div class="section-media__inner">
				<a href="https://www.youtube.com/watch?v=9F_aQjquiEM" class="section-media__link mp_iframe">
					<span class="icon-media icon-media--video">
						<i class="ion-play"></i>
					</span>
				</a>
			</div>
		</div>
		<!-- Section - Video / End -->
		<!-- Section: How it works / End -->
		<!-- Section: Testimonials -->
		<div class="section-content section-content--tertiary">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Testimonios</h2>
				</div>
		
				<!-- Testimonials -->
				<div class="testimonials js-testimonials-slick slick--arrows-modern" data-aos="fade-up" data-aos-duration="800">
		
					<div class="testimonial">
						<blockquote class="testimonial__txt">
							Mi familia y yo tuvimos una experiencia espectacular aquí están por encima en el entretenimiento. A pesar de que alguna vez no hemos conseguido salir igualmente nos hemos divertido mucho
						</blockquote>
						<div class="testimonial__meta">
							<figure class="testimonial__author-img">
								<img src="assets/img/samples/comment-avatar-1.png" alt="">
							</figure>
							<h6 class="testimonial__author-name">Pedro</h6>
						</div>
					</div>
		
					<div class="testimonial">
						<blockquote class="testimonial__txt">
							Este lugar es una maravilla, especialmente para grupos!  Me encantó ver cómo los miembros del grupo de diferentes personalidades se acercaban a los rompecabezas.
						</blockquote>
						<div class="testimonial__meta">
							<figure class="testimonial__author-img">
								<img src="assets/img/samples/comment-avatar-2.png" alt="">
							</figure>
							<h6 class="testimonial__author-name">Jesús</h6>
						</div>
					</div>
		
					<div class="testimonial">
						<blockquote class="testimonial__txt">	
							Super bien! Ibamos 3 amigos y nos lo pasamos genial. El sitio está muy bien y los chic@s son muy majos. Estupendo para pasar una hora super entretenida y ejercitar la mente!					
						</blockquote>
						<div class="testimonial__meta">
							<figure class="testimonial__author-img">
								<img src="assets/img/samples/comment-avatar-3.png" alt="">
							</figure>
							<h6 class="testimonial__author-name">Antonia</h6>
						</div>
					</div>
		
					<div class="testimonial">
						<blockquote class="testimonial__txt">
							Siempre tienen un trato fantástico en cualquiera de los locales, las salas tienen una ambientación genial y los retos apasionantes. Nos hemos divertido mucho. Super recomendable
						</blockquote>
						<div class="testimonial__meta">
							<figure class="testimonial__author-img">
								<img src="assets/img/samples/comment-avatar-4.png" alt="">
							</figure>
							<h6 class="testimonial__author-name">Pablo</h6>
						</div>
					</div>
		
				</div>
				<!-- Testimonials / End -->
			</div>
		</div>
		<!-- Section: Testimonials / End -->
		<!-- Section: Latest Blog Posts -->

			</div>
		</div>
		
		</main>

{% endblock %}