{% extends 'base.html.twig' %}

{% block body %}
	<!-- Page Heading
		================================================== -->
		<div class="page-heading jarallax" data-jarallax data-speed="0.2">
			<div class="page-heading__inner">
				<div class="container">
					<h1 class="page-heading__title">Login</h1>
					<ol class="breadcrumb page-heading__breadcrumb">
						<li class="breadcrumb-item"><a href="/index">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Login</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- Page Heading / End -->
		
		<!-- Content
		================================================== -->
		<main class="site-content">
		
		<div class="section-content">
			<div class="container">
		
				<div class="row">
					<div class="col-md-8 ml-md-auto mr-md-auto">
		
						<div id="booked-profile-page">
							<div id="booked-page-form">
						
								<ul class="booked-tabs nav login bookedClearFix" id="booked-tabs" role="tablist">
									<li><a href="#profile-login" id="profile-login-tab" data-toggle="tab" role="tab" aria-selected="true" class="active"><i class="booked-icon ion-locked"></i>Sign In</a></li>
									<li><a href="#profile-register" id="profile-register-tab" data-toggle="tab" role="tab" aria-selected="false"><i class="booked-icon ion-locked"></i>Resgistrate</a></li>
									<li><a href="#profile-forgot" id="profile-forgot-tab" data-toggle="tab" role="tab" aria-selected="false"><i class="booked-icon ion-help-buoy"></i>Forgot Password</a></li>
								</ul>
						
								<div class="tab-content">
						
									<div id="profile-login" class="booked-tab-content tab-pane fade show active" role="tabpanel" aria-labelledby="profile-login-tab">
										<div class="booked-form-wrap bookedClearFix">
											<form name="loginform" id="loginform" action="#" method="get">
												<div class="form-group login-username">
													<input type="text" name="log" id="user_login" class="form-control" value="" size="20" placeholder="Email or Username">
												</div>
												<div class="form-group login-password">
													<input type="password" name="pwd" id="user_pass" class="form-control" value="" size="20" placeholder="Password">
												</div>

												<div class="login-remember">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="rememberme">
														<label class="custom-control-label" for="rememberme">Remember Me</label>
													</div>
												</div>

												<div class="login-submit">
													<input type="submit" name="wp-submit" id="wp-submit" class="btn btn-lg btn-primary" value="Log In">
												</div>
											</form>
										</div>
									</div>
									
									
									<div id="profile-register" class="booked-tab-content tab-pane" role="tabpanel" aria-labelledby="profile-login-tab">
										<div class="booked-form-wrap bookedClearFix">
											<form name="loginform" id="loginform" action="#" method="get">
												<div class="form-group login-nombre">
													<input type="text" name="nombre" id="user_login" class="form-control" value="" size="20" placeholder="Nombre">
												</div>
												<div class="form-group login-apellidos">
													<input type="text" name="apellidos" id="user_login" class="form-control" value="" size="20" placeholder="Apellidos">
												</div>
												<div class="form-group login-correo">
													<input type="text" name="correo" id="user_login" class="form-control" value="" size="20" placeholder="Correo">
												</div>
												<div class="form-group login-date">
													Fecha Nacimiento<input type="date" name="f_nac" id="user_login" class="form-control" value="" size="20"> 
												</div>
												<div class="form-group login-password">
													<input type="password" name="pwd" id="user_pass" class="form-control" value="" size="20" placeholder="Password">
												</div>
												<div class="login-submit">
													<input type="submit" name="wp-submit" id="wp-submit" class="btn btn-lg btn-primary" value="Resgistrate">
												</div>
											</form>
										</div>
									</div>
							
									<div id="profile-forgot" class="booked-tab-content fade tab-pane" role="tabpanel" aria-labelledby="profile-forgot-tab">
										<div class="booked-form-wrap bookedClearFix">
											<form method="get" action="#" class="wp-user-form">
												<div class="form-group">
													<input type="text" name="user_login_forgot" class="form-control" value="" size="20" id="user_login_forgot" tabindex="1001" placeholder="What is your email address?">
												</div>
												<input type="submit" name="user-submit" value="Reset my password" class="user-submit btn btn-lg btn-primary" tabindex="1002">
											</form>
										</div>
									</div>
						
								</div>
						
							</div><!-- END #booked-page-form -->
						</div>
					</div>
				</div>
		
			</div>
		</div>
		
		
		</main>

{% endblock %}
