{% extends 'base.html.twig' %}


{% block body %}

<!-- Page Heading
		================================================== -->
		<div class="page-heading jarallax" data-jarallax data-speed="0.2">
			<div class="page-heading__inner">
				<div class="container">
					<h1 class="page-heading__title">Terminos y Condiciones</h1>
					<ol class="breadcrumb page-heading__breadcrumb">
						<li class="breadcrumb-item"><a href="/index">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Terminos y Condiciones</li>
					</ol>
				</div>
			</div>
		</div>

        <div class="section-content">
			<div class="container">
				<div class="container-condition">
		
	<p>El mantenimiento de esta web y la responsabilidad de todos sus contenidos pertenece a COCO EVENTOS ZARAGOZA, S.L. Dichos contenidos, así como el nombre de dominio www.cocoroom.es pertenecen a COCO EVENTOS ZARAGOZA, S.L.
	<p>Paseo Echegaray y Caballero, 148<br> 50.001 Zaragoza <br> NIF:B99453870</p>

<h3>1. Aceptación de las Condiciones Generales</h3>
	<p>Las Condiciones generales que a continuación se reseñan, regulan la utilización de la Web de COCO EVENTOS ZARAGOZA, S.L.</p>

	<p>La utilización de la Web de COCO EVENTOS ZARAGOZA, S.L atribuye la condición de usuario de la misma y conlleva la aceptación plena y sin reservas de ningún tipo, por parte del usuario, de todas las Condiciones Generales que estén publicadas al tiempo de acceder el usuario.</p>

<h3>2. Denegación y retirada del acceso a la Web y/o a los servicios</h3>

	<p>COCO EVENTOS ZARAGOZA, S.L se reserva el derecho a denegar o a retirar el acceso a su página Web, en cualquier momento y sin necesidad de preaviso, a aquellos usuarios que incumplan estas Condiciones Generales o las particulares que resulten de aplicación.</h3>

<h3>3. Legislación y fuero</h3>

	<p>La prestación del servicio se rige por la legislación española, siendo competentes los Tribunales de Zaragoza, a los que el Usuario se somete expresamente.</p>

<h3>4. Exclusión de responsabilidad</h3>

	<p>COCO EVENTOS ZARAGOZA, S.L realiza los máximos esfuerzos para evitar cualquier error en los contenidos de la página Web, pero no garantiza ni se responsabiliza de posibles errores en los contenidos de la Web.</h3>

	<p>COCO EVENTOS ZARAGOZA, S.L excluye cualquier responsabilidad por daños y perjuicios de cualquier naturaleza eventualmente derivados de:<p>
<ul>
	<li>La interrupción del funcionamiento o la falta de disponibilidad de acceso a la página Web.</li>

	<li>La privacidad y seguridad en la utilización de la página Web por parte del Usuario, y/o el acceso no consentido de terceros no autorizados.</li>

	<li>La exactitud, exhaustividad y actualización puntual de los contenidos de su página Web.</li>

	<li>En consecuencia, COCO EVENTOS ZARAGOZA, S.L no garantiza la fiabilidad, la disponibilidad ni la continuidad de su sitio Web ni de los contenidos, por lo que la utilización de los mismos por parte del usuario se lleva a cabo por su propia cuenta y riesgo, sin que, en ningún momento, puedan exigirse responsabilidades a COCO EVENTOS ZARAGOZA, S.L en este sentido.</li>
</ul>
	<p>COCO EVENTOS ZARAGOZA, S.L no será responsable en caso de que existan interrupciones del servicio, demoras, errores, mal funcionamiento del mismo y, en general, demás inconvenientes que tengan su origen en causas que escapan del control de COCO EVENTOS ZARAGOZA, S.L y/o debida a una actuación dolosa o culposa del Usuario y/o tenga por origen causas de fuerza mayor. En cualquier caso, sea cual fuere su causa, COCO EVENTOS ZARAGOZA, S.L no asumirá responsabilidad alguna ya sea por daños directos o indirectos, daño emergente y/o por lucro cesante. COCO EVENTOS ZARAGOZA, S.L tendrá derecho, sin que exista indemnización alguna al usuario por estos conceptos, a suspender temporalmente los servicios y contenidos del sitio Web para efectuar operaciones de mantenimiento, mejora o reparación de los mismos.</p>

<h3>5. Condiciones de uso Bono-Regalo</h3>

	<p>La edad mínima de compra de bono-regalo es de 16 años, supervisados por un mayor de edad.</p>

	<p>Los bono-regalo no son reembolsables en ningún caso</p>

	<p>Dispone de 6 meses para canjear el bono-regalo</p>

	<p>Todas las actividades están sujetas a disponibilidad de COCO EVENTOS ZARAGOZA, S.L. Por ello, la persona que reciba el bono tendrá que contactar con COCO EVENTOS ZARAGOZA, S.L fijar día y hora de la/s actividad/es.</p>

	<p>De no presentarse el día de la reserva, COCO EVENTOS ZARAGOZA, S.L procederá a la anulación del bono-regalo, perdiendo así el derecho a su uso.</p>

<h3>6. Cancelación de reserva</h3>

	<p>No se podrá cancelar su reserva, si modificar su fecha hasta 3 días antes de la realización del juego.</p>

<h3>7. Condiciones de participación</h3>
	<ol>
		<li>
			<p>La edad mínima de reserva es de 16 años, supervisados por un mayor de edad.</p>
		</li>

		<li>
			<p>Todo el mundo participa en el juego bajo su propio riesgo. COCO ROOM no se hace responsable de los accidentes que los usuarios pudieran tener durante el juego si estos son debidos a la negligencia del usuario, a la incorrecta manipulación de las instalaciones, así como al uso indebido de los objetos que se encuentran en sus habitaciones.</p>
		</li>

		<li>
			<p>COCO ROOM se reserva el derecho de admisión.</p>
		</li>

		<li>
			<p>No será posible iniciar el juego si hay un retraso de 10 minutos respecto a la hora reservada. No habrá ningún tipo de reembolso en la reserva.</p>
		</li>

		<li>
			<p>La duración máxima del juego es de una hora. No es posible extender este tiempo.</p>
		</li>
	</ol>
<p>COCO ROOM se reserva el derecho a pedir derechos de imagen a los usuarios, de aquellas imágenes que se hayan tomado dentro de sus instalaciones. Se usarán dichas imágenes para publicarlas en la web, en las redes sociales y para su uso promocional.</p>
					
					</div>
				
						</div>

{% endblock %}
