{% extends 'indexUSR.html.twig' %}

{% block b %}
<nav class="main-nav">
				<ul class="main-nav__list">
					<li class=""><a href="/usuario-index">Inicio</a></li>
				
					<li class=""><a href="/usr-salas">Salas</a>
					</li>
					<li class=""><a href="/usr-about">Acerca de</a></li>
					<li><a href="/usr-contacto">Contáctanos</a></li>
					<li class=""><a href="/usr-precios">Pricing Tables <span class="badge badge-danger">Novedad</span></a></li>
				</ul>
		
			</nav>

{% endblock %}

{% block body %}
<div class="room-slider-wrapper">
			<div class="room-slider js-room-single-slick">
				<div class="room-slider__item room-slider__item--img-1"></div>
				<div class="room-slider__item room-slider__item--img-2"></div>
				<div class="room-slider__item room-slider__item--img-3"></div>
				<div class="room-slider__item room-slider__item--img-4"></div>
				<div class="room-slider__item room-slider__item--img-5"></div>
			</div>
			<!-- Room Title -->
			<div class="single-room-heading">
				<div class="container">
					<h1 class="single-room-heading__title">Magic Imporium</h1>
				</div>
			</div>
			<!-- Room Title / End -->
		</div>
		<!-- Room Slider / End -->

		<!-- Content
		================================================== -->
		<main class="site-content">
		
		<div class="section-content">
		
			<div class="container">
		
				<!-- Single Room - Content -->
				<div class="single-room-content">
					<div class="row">
						<div class="col-md-8">
							<!-- Meta -->
							<div class="room__meta room__meta--lg">
								<div class="room__meta-item room__meta-item--rating">
									<div class="room__meta-item-value">
										<div class="room__complexity rating rating--3">
											<span class="rating__inner"></span>
										</div>
									</div>
									<div class="room__meta-item-label">Facil</div>
								</div>
								<div class="room__meta-item">
									<div class="room__meta-item-value">
										<i class="ion-person-stalker"></i> 2-3
									</div>
									<div class="room__meta-item-label">Personas</div>
								</div>
								<div class="room__meta-item">
									<div class="room__meta-item-value">
										<i class="icon-clock"></i> 60
									</div>
									<div class="room__meta-item-label">Minutos</div>
								</div>
							</div>
							<!-- Meta / End -->
		
							<p>Etiam pulvinar enim nec mi tincidunt, convallis hendrerit ligula interdum. Cras condimentum justo sed nunc cursus, ac euismod sem feugiat. In in maximus mauris. Vivamus eget erat non neque dignissim fermentum. Phasellus at dapibus tortor. Sed dapibus sagittis molestie. Donec ullamcorper, sapien eu commodo pulvinar, magna ante pharetra nunc, ut elementum orci erat sed risus. Nunc vel tincidunt ex.</p>
		
							<p>Vivamus ultrices dapibus justo, vel pharetra nisi mattis sit amet. Integer faucibus varius mauris sit amet molestie. Integer finibus velit in eleifend sodales. Aenean pulvinar sapien vitae justo imperdiet dignissim. Integer facilisis magna felis, vel interdum ligula consectetur et. Quisque ac porttitor nisl.</p>
		
							<p>Aliquam in lectus sed velit viverra sodales ut sit amet enim. Nam sed justo dapibus, volutpat augue non, pulvinar neque. Pellentesque volutpat augue ullamcorper ullamcorper tincidunt. Morbi id aliquam odio. Mauris posuere interdum tellus quis aliquet. In hac habitasse platea dictumst. Pellentesque eget sollicitudin sem, eget tincidunt purus. Nam efficitur felis quis neque malesuada sodales. Aenean sit amet magna pellentesque, congue massa eu, pharetra leo.</p>
						</div>
						<div class="col-md-4">
		
							<!-- Room Details -->
							<ul class="room-details">
								<li class="room-details__item">
									<i class="fas fa-phone"></i>
										+34 800 900 124
								</li>
								<li class="room-details__item">
									<i class="fas fa-envelope"></i>
									<a href="mailto:support@thescaperoom.com">support@thescaperoom.com</a>
								</li>
								<li class="room-details__item">
									<i class="fab fa-instagram"></i>
									<a href="https://www.instagram.com">The Escape room</a>
								</li>
								<li class="room-details__item">
									<i class="fas fa-map-marker-alt"></i>
									3031 New York St, Miami, FL 33132
								</li>
							</ul>
							<!-- Room Details / End -->
		
							<a href="#" class="btn btn-primary btn-lg">¡Reserva ahora!</a>
		
						</div>
					</div>
				</div>
				<!-- Single Room - Content / End -->
		
			</div>
		
		</div>
				
<!-- Booking Form -->
		<div class="section-content section-content--secondary">
			<div class="container">
		
				<!-- Section Title - Centered -->
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title">Formulario de reserva</h2>
				</div>
				<!-- Section Title - Centered / End -->
		
				<div class="row">
					<div class="col-md-8 ml-md-auto mr-md-auto">
		
						<!-- Booking Form -->
						<div class="booked-calendar-shortcode-wrap">
							<div class="booked-calendarSwitcher calendar">
								<p><i class="booked-icon booked-icon-calendar"></i>
									<select name="booked_calendar_chooser_62251" id="booked_calendar_chooser_62251" class="booked_calendar_chooser">
										<option value="0">Calendario</option>
										<option class="level-0" value="2">Sala #1</option>
										<option class="level-0" value="3">Sala #2</option>
									</select>
								</p>
							</div>
							<div class="booked-calendar-wrap large" data-default="2022-03-01">
								<table class="booked-calendar" data-calendar-date="2022-03-31">
									<thead>
										<tr>
											<th colspan="7">
												<a href="#" data-goto="2017-10-01" class="page-left"><i class="booked-icon booked-icon-arrow-left"></i></a>
												<span class="calendarSavingState">
													<i class="booked-icon booked-icon-spinner-clock booked-icon-spin"></i>
												</span>
												<span class="monthName">Marzo 2022</span>
												<a href="#" data-goto="2017-09-01" class="page-right"><i class="booked-icon booked-icon-arrow-right"></i></a>
											</th>
										</tr>
										<tr class="days">
											<th>L</th>
											<th>M</th>
											<th>X</th>
											<th>J</th>
											<th>V</th>
											<th>S</th>
											<th>D</th>
										</tr>
									</thead>
									<tbody>
										<tr class="week">
											<td data-date="2022-02-31" class="prev-month prev-date">
												<span class="date">
													<span class="number">28</span>
												</span>
											</td>
											<td data-date="2017-08-1" class="active">
												<span class="date">
													<span class="number">1</span>
												</span>
											</td>
											<td data-date="2017-08-2">
												<span class="date">
													<span class="number">2</span>
												</span>
											</td>
											<td data-date="2017-08-3">
												<span class="date">
													<span class="number">3</span>
												</span>
											</td>
											<td data-date="2017-08-4">
												<span class="date">
													<span class="number">4</span>
												</span>
											</td>
											<td data-date="2017-08-5">
												<span class="date">
													<span class="number">5</span>
												</span>
											</td>
											<td data-date="2017-08-6">
												<span class="date">
													<span class="number">6</span>
												</span>
											</td>
										</tr>
										<tr class="week">
											<td data-date="2017-08-7" class="booked">
												<span class="date">
													<span class="number">7</span>
												</span>
											</td>
											<td data-date="2017-08-8">
												<span class="date">
													<span class="number">8</span>
												</span>
											</td>
											<td data-date="2017-08-9">
												<span class="date">
													<span class="number">9</span>
												</span>
											</td>
											<td data-date="2017-08-10">
												<span class="date">
													<span class="number">10</span>
												</span>
											</td>
											<td data-date="2017-08-11">
												<span class="date">
													<span class="number">11</span>
												</span>
											</td>
											<td data-date="2017-08-12">
												<span class="date">
													<span class="number">12</span>
												</span>
											</td>
											<td data-date="2017-08-13">
												<span class="date">
													<span class="number">13</span>
												</span>
											</td>
										</tr>
										<tr class="entryBlock">
											<td colspan="7">
												<div class="booked-appt-list shown" style="display: block;">
													<h2><span>Cita disponible en </span><strong>15 Marzo 2022</strong><span></span></h2>
													<div class="timeslot bookedClearFix has-title">
														<span class="timeslot-time">
															<span class="timeslot-title">Escape Room</span>
															<span class="timeslot-range"><i class="booked-icon booked-icon-clock"></i>&nbsp;&nbsp;1:00 am – 2:00 am</span>
															<span class="spots-available">1 espacio disponible</span>
														</span>
														<span class="timeslot-people">
															<button data-title="Escape Room" data-timeslot="0100-0200" data-date="2017-10-10" class="new-appt button">
																<span class="timeslot-mobile-title">Escape Room</span>
																<span class="button-timeslot">1:00 am – 2:00 am</span>
																<span class="button-text">Reservar habitación</span>
																<span class="spots-available">1 espacio disponible</span>
															</button>
														</span>
													</div>
													<div class="timeslot bookedClearFix">
														<span class="timeslot-time">
															<span class="timeslot-range"><i class="booked-icon booked-icon-clock"></i>&nbsp;&nbsp;1:00 am – 2:00 am</span>
															<span class="spots-available">1 space available</span>
														</span>
														<span class="timeslot-people">
															<button data-title="Escape Room" data-timeslot="0100-0200" data-date="2017-10-10" class="new-appt button">
																<span class="timeslot-mobile-title">Escape Room</span>
																<span class="button-timeslot">1:00 am – 2:00 am</span>
																<span class="button-text">Reservar habitación</span>
																<span class="spots-available">1 espacio disponible</span>
															</button>
														</span>
													</div>
													<div class="timeslot bookedClearFix">
														<span class="timeslot-time">
															<span class="timeslot-range"><i class="booked-icon booked-icon-clock"></i>&nbsp;&nbsp;4:00 pm – 6:00 pm</span>
															<span class="spots-available empty">No hay espacios disponibles</span>
														</span>
														<span class="timeslot-people">
															<button data-timeslot="1600-1800" data-date="2017-10-23" class="new-appt button" disabled>
																<span class="button-timeslot">4:00 pm – 6:00 pm</span>
																<span class="button-text">No disponible</span>
																<span class="spots-available empty">No hay espacios disponibles</span>
															</button>
														</span>
													</div>
													<div class="timeslot bookedClearFix">
														<span class="timeslot-time">
															<span class="timeslot-range"><i class="booked-icon booked-icon-clock"></i>&nbsp;&nbsp;1:00 am – 2:00 am</span>
															<span class="spots-available">1 espacio disponible</span>
														</span>
														<span class="timeslot-people">
															<button data-title="Escape Room" data-timeslot="0100-0200" data-date="2017-10-10" class="new-appt button">
																<span class="timeslot-mobile-title">Escape Room</span>
																<span class="button-timeslot">1:00 am – 2:00 am</span>
																<span class="button-text">Reservar habitación</span>
																<span class="spots-available">1 espacio disponible</span>
															</button>
														</span>
													</div>
												</div>
											</td>
										</tr>
										<tr class="week">
											<td data-date="2017-08-14">
												<span class="date">
													<span class="number">14</span>
												</span>
											</td>
											<td data-date="2017-08-15">
												<span class="date">
													<span class="number">15</span>
												</span>
											</td>
											<td data-date="2017-08-16">
												<span class="date">
													<span class="number">16</span>
												</span>
											</td>
											<td data-date="2017-08-17">
												<span class="date">
													<span class="number">17</span>
												</span>
											</td>
											<td data-date="2017-08-18">
												<span class="date">
													<span class="number">18</span>
												</span>
											</td>
											<td data-date="2017-08-19">
												<span class="date">
													<span class="number">19</span>
												</span>
											</td>
											<td data-date="2017-08-20">
												<span class="date">
													<span class="number">20</span>
												</span>
											</td>
										</tr>
										<tr class="week">
											<td data-date="2017-08-21" class="">
												<span class="date tooltipster tooltipstered">
													<span class="number">21</span>
												</span>
											</td>
											<td data-date="2017-08-22">
												<span class="date tooltipster tooltipstered">
													<span class="number">22</span>
												</span>
											</td>
											<td data-date="2017-08-23">
												<span class="date">
													<span class="number">23</span>
												</span>
											</td>
											<td data-date="2017-08-24">
												<span class="date">
													<span class="number">24</span>
												</span>
											</td>
											<td data-date="2017-08-25">
												<span class="date">
													<span class="number">25</span>
												</span>
											</td>
											<td data-date="2017-08-26">
												<span class="date">
													<span class="number">26</span>
												</span>
											</td>
											<td data-date="2017-08-27">
												<span class="date">
													<span class="number">27</span>
												</span>
											</td>
										</tr>
										<tr class="week">
											<td data-date="2017-08-28" class="">
												<span class="date tooltipster tooltipstered">
													<span class="number">28</span>
												</span>
											</td>
											<td data-date="2017-08-29" class="">
												<span class="date tooltipster tooltipstered">
													<span class="number">29</span>
												</span>
											</td>
											<td data-date="2017-08-30">
												<span class="date">
													<span class="number">30</span>
												</span>
											</td>
											<td data-date="2017-08-31">
												<span class="date">
													<span class="number">31</span>
												</span>
											</td>
											<td data-date="2017-09-1" class="next-month prev-date">
												<span class="date">
													<span class="number">1</span>
												</span>
											</td>
											<td data-date="2017-09-2" class="next-month prev-date">
												<span class="date">
													<span class="number">2</span>
												</span>
											</td>
											<td data-date="2017-09-3" class="next-month prev-date">
												<span class="date">
													<span class="number">3</span>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- Booking Form / End -->
					</div>
				</div>
		
			</div>
		</div>
		<!-- Booking Form / End -->

        <!-- Related Rooms -->
		<div class="section-content">
			<div class="container">
		
				<h2>Otras salas</h2>
		
				<!-- Rooms Grid - 3 cols -->
				<div class="row rooms rooms--grid js-rooms-related slick--arrows-top">
		
					<!-- Room #9 -->
					<div class="room col-sm-6 col-md-4 room--category-normal">
						<div class="room__inner">
							<div class="room__body">
								<!-- Rating -->
								<div class="room__complexity rating rating--3">
									<span class="rating__inner"></span>
								</div>
								<!-- Rating / End -->
								<!-- Title -->
								<h2 class="room__title"><a href="/usr-individual">Back To The Future</a></h2>
								<!-- Title / End -->
								<!-- Meta -->
								<div class="room__meta">
									<div class="room__meta-item">
										<i class="ion-person-stalker"></i> 3-4
									</div>
									<div class="room__meta-item">
										<i class="icon-clock"></i> 60
									</div>
									<div class="room__meta-item">
										<i class="ion-location"></i> New York 3031
									</div>
								</div>
								<!-- Meta / End -->
							</div>
							<!-- Image -->
							<figure class="room__img">
								<a href="/usr-individual"><img src="assets/img/samples/room-grid-3-img9.jpg" alt=""></a>
							</figure>
							<!-- Image / End -->
						</div>
					</div>
					<!-- Room #9 / End -->
		
					<!-- Room #2 -->
					<div class="room col-sm-6 col-md-4 room--category-hard">
						<div class="room__inner">
							<div class="room__body">
								<!-- Rating -->
								<div class="room__complexity rating rating--4">
									<span class="rating__inner"></span>
								</div>
								<!-- Rating / End -->
								<!-- Title -->
								<h2 class="room__title"><a href="/usr-individual">The Cure</a></h2>
								<!-- Title / End -->
								<!-- Meta -->
								<div class="room__meta">
									<div class="room__meta-item">
										<i class="ion-person-stalker"></i> 2-3
									</div>
									<div class="room__meta-item">
										<i class="icon-clock"></i> 60
									</div>
									<div class="room__meta-item">
										<i class="ion-location"></i> Los Angeles 20198
									</div>
								</div>
								<!-- Meta / End -->
							</div>
							<!-- Image -->
							<figure class="room__img">
								<a href="/usr-individual"><img src="assets/img/samples/room-grid-3-img2.jpg" alt=""></a>
							</figure>
							<!-- Image / End -->
						</div>
					</div>
					<!-- Room #2 / End -->
		
					<!-- Room #3 -->
					<div class="room col-sm-6 col-md-4 room--category-easy">
						<div class="room__inner">
							<div class="room__body">
								<!-- Rating -->
								<div class="room__complexity rating rating--2">
									<span class="rating__inner"></span>
								</div>
								<!-- Rating / End -->
								<!-- Title -->
								<h2 class="room__title"><a href="/usr-individual">Burlesque</a></h2>
								<!-- Title / End -->
								<!-- Meta -->
								<div class="room__meta">
									<div class="room__meta-item">
										<i class="ion-person-stalker"></i> 3-5
									</div>
									<div class="room__meta-item">
										<i class="icon-clock"></i> 60
									</div>
									<div class="room__meta-item">
										<i class="ion-location"></i> Beverly Hills 90210
									</div>
								</div>
								<!-- Meta / End -->
							</div>
							<!-- Image -->
							<figure class="room__img">
								<a href="/usr-individual"><img src="assets/img/samples/room-grid-3-img3.jpg" alt=""></a>
							</figure>
							<!-- Image / End -->
						</div>
					</div>
					<!-- Room #3 / End -->
		
					<!-- Room #4 -->
					<div class="room col-sm-6 col-md-4 room--category-hard">
						<div class="room__inner">
							<div class="room__body">
								<!-- Rating -->
								<div class="room__complexity rating rating--5">
									<span class="rating__inner"></span>
								</div>
								<!-- Rating / End -->
								<!-- Title -->
								<h2 class="room__title"><a href="/usr-individual">Prison Break</a></h2>
								<!-- Title / End -->
								<!-- Meta -->
								<div class="room__meta">
									<div class="room__meta-item">
										<i class="ion-person-stalker"></i> 4-6
									</div>
									<div class="room__meta-item">
										<i class="icon-clock"></i> 60
									</div>
									<div class="room__meta-item">
										<i class="ion-location"></i> New York 3031
									</div>
								</div>
								<!-- Meta / End -->
							</div>
							<!-- Image -->
							<figure class="room__img">
								<a href="/usr-individual"><img src="assets/img/samples/room-grid-3-img4.jpg" alt=""></a>
							</figure>
							<!-- Image / End -->
						</div>
					</div>
					<!-- Room #4 / End -->
		
					<!-- Room #5 -->
					<div class="room col-sm-6 col-md-4 room--category-easy">
						<div class="room__inner">
							<div class="room__body">
								<!-- Rating -->
								<div class="room__complexity rating rating--2">
									<span class="rating__inner"></span>
								</div>
								<!-- Rating / End -->
								<!-- Title -->
								<h2 class="room__title"><a href="/usr-individuall">The Hospital</a></h2>
								<!-- Title / End -->
								<!-- Meta -->
								<div class="room__meta">
									<div class="room__meta-item">
										<i class="ion-person-stalker"></i> 2-3
									</div>
									<div class="room__meta-item">
										<i class="icon-clock"></i> 60
									</div>
									<div class="room__meta-item">
										<i class="ion-location"></i> New York 3031
									</div>
								</div>
								<!-- Meta / End -->
							</div>
							<!-- Image -->
							<figure class="room__img">
								<a href="/usr-individual"><img src="assets/img/samples/room-grid-3-img5.jpg" alt=""></a>
							</figure>
							<!-- Image / End -->
						</div>
					</div>
					<!-- Room #5 / End -->
		
					<!-- Room #6 -->
					<div class="room col-sm-6 col-md-4 room--category-easy">
						<div class="room__inner">
							<div class="room__body">
								<!-- Rating -->
								<div class="room__complexity rating rating--3">
									<span class="rating__inner"></span>
								</div>
								<!-- Rating / End -->
								<!-- Title -->
								<h2 class="room__title"><a href="/usr-individual">Abandoned Factory</a></h2>
								<!-- Title / End -->
								<!-- Meta -->
								<div class="room__meta">
									<div class="room__meta-item">
										<i class="ion-person-stalker"></i> 6-8
									</div>
									<div class="room__meta-item">
										<i class="icon-clock"></i> 120
									</div>
									<div class="room__meta-item">
										<i class="ion-location"></i> Oklahoma City 2179
									</div>
								</div>
								<!-- Meta / End -->
							</div>
							<!-- Image -->
							<figure class="room__img">
								<a href="/usr-individual"><img src="assets/img/samples/room-grid-3-img6.jpg" alt=""></a>
							</figure>
							<!-- Image / End -->
						</div>
					</div>
					<!-- Room #6 / End -->
		
				</div>
				<!-- Rooms Grid - 3 cols / End  -->
		
			</div>
		</div>
		<!-- Related Rooms / End -->
		
		</main>
{% endblock %}
